/********** Base styles **********/
* {
  font-family: "Lucida Sans", "Arial", sans-serif;
  margin: 0px;
  padding: 0px;
}
h1{
  margin: 0;
  font-size: 1.5em;
}
#nav-list{
  text-align: center;
  background-color: #ff9966;
}
#header-nav{
  background-color: #ffcc99;
}
#main-content{
}
#dishes{
  margin: 20px;
}
.dish{
  background-color: #cc99ff;
  height: 600px;
  margin: 5px 10px 5px 10px;
  padding: 5px 10px 5px 10px;
}